<footer>
    <nav>
      <ul>
        <li>
          <a href=" #">
            <i class="fas fa-home"></i>
            <p>홈</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-gamepad"></i>
            <p>게임</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-car"></i>
            <p> 신고</p>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-gift"></i>
            <p>기프트샵</p>
          </a>
        </li>
      </ul>
    </nav>

  </footer>
</div>
</body>

</html>